php_value include_path /mnt/www/dev.radio.warwick.ac.uk/krnr/jonty/includes
php_value auto_prepend_file "config.php"

AuthName "Krnr Documentation System"
AuthType Basic
AuthBasicProvider "ldap"
AuthLDAPURL ldap://ldapserver:389/ou=People,dc=media,dc=warwicksu,dc=com?uid
require ldap-attribute ou=engineering
require ldap-user

order deny,allow
deny from all
allow from all